:root {
  /* Colores base */
    --bs-dark: #1E202C;
    --bs-primary: #29B474;
    --bs-primary-hover: #0AE98A;
    --bs-primary-border: #29B474;
    --bs-secondary: #60519B;
    --bs-secondary-hover: #A782E9;
    --bs-secondary-border: #60519B;
    --bs-light: #FFFFFF;
  }
  
  body {
    background-color: var(--bs-dark);
    color: var(--bs-light);
    padding: 20px;
  }
  
  .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary-border);
    color: var(--bs-light);
  }
  
  .btn-primary:hover {
    background-color: var(--bs-primary-hover);
    border-color: var(--bs-primary-hover);
  }
  
  .btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary-border);
    color: var(--bs-light);
  }
  
  .btn-secondary:hover {
    background-color: var(--bs-secondary-hover);
    border-color: var(--bs-secondary-hover);
  }
  