@use '../../../styles/colors' as *;

 .bg-marketplace-card{
    background: $background-gray;
  }
  .bg-marketplace-card:hover{
    background-color: var(--bs-secondary-hover);
    cursor: pointer;
    transition: ease-in .4s;
  }