@use '../../../styles/colors' as *;

.modal{
    
}
.modal-content{
    background-color: $background-dark-web;
    color: $text-light;
}
.resaltar{
    font-weight: bold;
    color: $secondary-hover;
}