$primary: #29B474;
$primary-hover: #0AE98A;
$secondary: #60519B;
$secondary-hover: #A782E9;

// Text
$text-light: #fff;
$text-gray: #969696;


// Background
$background-dark: #191C1F;
$background-grey: #31323E;
$background-dark-web: #1E202C;

// Border
$border-primary: #29B474;
$border-secondary: #A782E9;

// Status
$success: #84b84c;
$error: #9f3a38;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;