@use "./colors" as *;

label,
.show-password {
  color: $text-gray !important;
}


input[type="email"],
input[type="password"],
input[type="text"],
textarea,
.form-select {
  background-color: $background-gray !important;
  border: 1px solid $secondary !important;
  color: $text-light !important;
  outline: none;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: $text-light !important;
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
  background-color: $background-gray !important;
  border: 1px solid $secondary-hover !important;
  color: $text-light !important;
  outline: none;
}
.form-floating > label{
  border: $background-gray !important;
}
.show-password {
  position: absolute;
  cursor: pointer;
  padding-right: 12px;
}

.check {
  background-color: $background-gray;
  border: 1px solid $secondary-hover;
  &:focus {
    background-color: $background-gray;
    border: 1px solid $secondary-hover;
  }
  &:checked {
    background-color: $secondary-hover;
    border: 1px solid $secondary-hover;
  }
}
